<% name, role = person[:name], person[:role] %>
<% steemit, image_url = person[:steemit], person[:steemit] ? "https://steemitimages.com/u/#{person[:steemit]}/avatar" : image_path('img_plc@2x.png') %>
<div class="person-container">
  <%= image_tag(image_url, class: "profile-avatar", onerror: "this.error=null;this.src='#{image_path('img_plc@2x.png')}'") %>
  <div class="person-info-container">
      <% if steemit %>
        <a href="https://steemhunt.com/author/@<%= steemit %>" target="_blank">
          <span class="primary-color profile-name"><%= name %></span>
        </a>
      <% end %> <br>
    <span class="grey-color profile-role"><%= role %></span> <br>
  </div>
</div>
