<div class="mobile-hide">
  <div class="spy-left">
    <ul>
      <li class="spy-button"><a class="active" data-target="landing"><%= image_tag("logo_top@2x.png", class: 'logo-spy') %></a></li>
      <li class="spy-button"><a data-target="hunt-platform">HUNT PLATFORM</a></li>
      <li class="spy-button"><a data-target="portfolio">PORTFOLIO</a></li>
      <li class="spy-button"><a data-target="steemhunt">STEEMHUNT</a></li>
      <li class="spy-button"><a data-target="reviewhunt">REVIEWHUNT</a></li>
      <li class="spy-button"><a data-target="ideahunt">IDEAHUNT</a></li>
      <li class="spy-button"><a data-target="whitepaper">WHITEPAPER</a></li>
      <li class="spy-button"><a data-target="token-distribution">TOKEN DISTRIBUTION</a></li>
      <li class="spy-button"><a data-target="roadmap">ROADMAP</a></li>
      <li class="spy-button"><a data-target="team">TEAM</a></li>
    </ul>
  </div>

  <div class="spy-right">
    <a href="https://steemhunt.com" target="_blank" class="primary-button">LIVE PRODUCT</a>
  </div>
</div>