<div id="sidenavBack" class="sidenav-background">
</div>
<div id="mySidenav" class="sidenav">
  <a id="closeNav" href="javascript:void(0)" class="close-button">
    <%= image_tag("icon-close.svg") %>
  </a>
  <div class="sidenav-body">
    <%= render partial: 'home/menu_links' %>
  </div>
</div>
