// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./constants";
@import "./mixins";

hr.grey-divider {
  border: solid 0.5px #979797;
  margin: 0px;
}

a {
  color: $primary;
}

a.primary-button, button.primary-button {
  padding: 0.8em 2.2em;
  border-radius: 50vh;
  font-size: 0.9rem;
  color: $primary;
  border: solid 1px $primary;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

a.more-link {
  text-decoration: none;
  color: $primary;
  display: block;
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}

img.full-width {
  width: 75%;
  margin-top: 3rem;
  @include responsive(tablet) {
    width: 100%;
  }

  &.sh-mockup {
    width: 82%;
    margin-left: -6.8%;

    @include responsive(tablet) {
      width: 100%;
      margin-left: 0;
    }
  }
}

img.svg-icon-p {
  height: 1em;
  margin-left: 0.3rem;
  vertical-align: middle;
}

span.icon-text-box {
  border: 1px solid $primary;
  border-radius: 4px;
  font-size: 10px;
  padding: 2px 4px;
  vertical-align: middle;
}

.tablet-hide {
  @include responsive(tablet) {
    display: none;
  }
}

.tablet-only {
  display: none;
  @include responsive(tablet) {
    display: block;
  }
}

.mobile-hide {
  @include responsive(mobile) {
    display: none;
  }
}

.mobile-only {
  display: none;
  @include responsive(mobile) {
    display: block;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include responsive(mobile) {
    flex-direction: column;

    &.reverse {
      flex-direction: column-reverse;
    }
  }
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.main-container {
  background-color: #151515;
  color: $text_grey;
  padding: 0px 80px 0 200px;

  @include responsive(tablet) {
    padding: 0;
  }
}

.main-row {
  font-size: 1.125rem;
  padding: 5rem 0 0 7.5rem;

  &.first {
    padding-top: 9.5rem;

    @include responsive(tablet) {
      padding-top: 6rem;
    }
    @include responsive(tablet) {
      padding-top: 5rem;
    }
  }

  @include responsive(tablet) {
    padding: 3rem;
  }
  @include responsive(mobile) {
    padding: 2rem;
  }
  .section-subtitle {
    max-width: 75%;
    margin-bottom: 20px;

    @include responsive(tablet) {
      max-width: none;
    }
  }

  p, ul {
    max-width: 75%;
    margin: 2.2rem 0;

    @include responsive(tablet) {
      max-width: none;
    }
  }

  .main-col-text {
    width: 45%;

    @include responsive(mobile) {
      width: 100%;
    }

    p {
      max-width: 100%;
    }
  }

  .main-col-image {
    display: flex;
    align-items: center;
    width: 45%;

    @include responsive(mobile) {
      margin-top: 3rem;
      width: 100%;
    }

    img {
      margin: auto;
      width: 100%;
    }
  }

  .hunt-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 50px;
    align-items: center;
    img {
      margin-right: 20px;
      height: 50px;
    }
    p {
      margin: 0.6rem 0;
    }
  }
} // .main-row


.landing-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .contents-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: radial-gradient(circle at 50% 50%, white, rgba(255, 255, 255, 0.75));

    .contents-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45vw;
      margin-top: 5vw;

      @include responsive(tablet) {
        width: 60vw;
      }
      @include responsive(mobile) {
        width: 90vw;
      }
      img.logo-top {
        width: 4.8rem;
        object-fit: contain;

        @include responsive(mobile) {
          width: 3.8rem;
        }
      }
      h1.logo-text {
        font-weight: bold;
        line-height: normal;
        text-align: center;
        color: $primary;
      }
      h1.contents-title {
        line-height: 1.5;
        text-align: center;
        color: #4a4a4a;
        margin: 5rem 0 0 0;
        font-weight: 700;

        @include responsive(mobile) {
          font-size: 2rem;
          margin: 4rem 0 0 0;
        }
      }
      p.contents-text {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.65);
        margin-top: 0.6875rem;
      }

      .primary-button {
        margin-top: 5rem;

        @include responsive(mobile) {
          margin-top: 4rem;
        }
      }
    }
  }
  .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    width: 110vw;
    left: -5vw;
    top: -5vh;
    transform: translateX(0px) translateY(0px);

    @include responsive(ipadpro) {
      left: 0;
      top: 0;
    }

    .thumbnail {
      border: solid 1px #fff;
      width: calc(calc(100vw / 11) - 2px);
      height: calc(calc(100vw / 11) - 2px);
      @include responsive(tablet) {
        width: calc(calc(100vw / 7) - 2px);
        height: calc(calc(100vw / 7) - 2px);
      }
      @include responsive(mobile) {
        width: calc(calc(100vw / 5) - 2px);
        height: calc(calc(100vw / 5) - 2px);
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.spy-left {
  position: absolute;
  top: calc(100vh + 80px);
  left: 80px;
  img.logo-menu {
    height: 50px;
    margin-bottom: 2.4rem;
  }
  ul {
    display: block;
    list-style:none;
    padding: 0;
    margin: 0;
    li {
      line-height: 2rem;
      font-size: 0.8125rem;
      color: hsla(0,0%,100%,.8);
      font-weight: lighter;
      transition: all .17s ease-in;
      cursor: pointer;
      a {
        color: $text_dark;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }
      a.active {
        color: $primary;
      }
    }
  }
}

.spy-right {
  position: absolute;
  top: calc(100vh + 80px);
  right: 80px;
}

.spy-fixed {
  position: fixed !important;
  top: 80px !important;
}

.sidenav-background {
  display: none;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 199;
  transition: 0.2s ease-in-out;
}

.sidenav {
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  left: -100vw;
  margin-left: 0px;
  outline: none;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100vw;
  z-index: 200;

  .sidenav-body {
    padding: 0 0 60px 60px;
    img.logo-menu {
      height: 50px;
      margin-bottom: 30px;
    }
    ul {
      display: block;
      list-style:none;
      padding: 0;
      margin: 0;
      li {
        line-height: 2.5rem;
        font-size: 1rem;
        color: hsla(0,0%,100%,.8);
        transition: all .17s ease-in;
        cursor: pointer;
        a {
          color: $text_dark;
          text-decoration: none;
        }
        a.active {
          color: $primary;
        }
      }
    }
  }

  a.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 0 20px 20px;

    img {
      height: 40px;
    }
  }
} // .sidenav

.mobile-menu-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: 100vh;
  width: calc(100vw - 20px);
  height: 50px;
  background: rgba(0, 0, 0, 0.65);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  @include responsive(tablet) {
    display: flex;
  }

  &.fixed {
    position: none;
    @include responsive(tablet) {
      position: fixed !important;
    }
  }

  a.menu-button {
    padding: 5px 5px 5px 0px;
    img {
      height: 30px;
    }
  }

  .mobile-spy-right {
    .primary-button {
      @include responsive(mobile) {
        padding: 0.4rem 1.3rem;
      }
    }
  }
}

ul.token-economy {
  list-style: none;
  padding: 0;

  li {
    padding: 1rem 3rem;

    img {
      float: left;
      width: 2rem;
      margin-left: -3rem;
    }
  }
}

.roadmap-table {
  color: #9b9b9b;
  border-collapse: collapse;

  tr, td, th {
    margin: 0;
    padding: 0;
  }

  tr {
    th, td {
      vertical-align: middle;
      line-height: 1.3;
    }

    th {
      color: #fff;
      font-weight: 300;
      min-width: 4.5rem;
    }

    td.center {
      padding: 0 1rem;
      .circle, .bar {
        display: block;
        margin: 0 auto;
      }

      .circle {
        width: 0.75rem;
        height: 0.75rem;
        border: 2px solid $primary;
        border-radius: 50%;
        background-color: #333;
        z-index: 99999;
      }

      .bar {
        width: 2px;
        height: 1rem;
        background-color: #d5d9dc;

        &.transparent {
          background-color: transparent;
        }
      }
    }
  }
}

.team-section {
  padding-bottom: 5rem;
  .category-title {
    margin: 3rem 0 1rem 0;
  }

  .team-container {
    display: flex;
    flex-wrap: wrap;

    .person-container {
      width: 33%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;

      @include responsive(mobile) {
        width: 100%;
      }
      .profile-avatar  {
        width: 4.375rem;
        height: 4.375rem;
        border-radius: 50%;
        object-fit: cover;
        margin: 0.4rem 0.625rem 0.4rem 0;
      }
      .person-info-container {
        .profile-name {
          margin: 0.1875rem;
        }
        .profile-role {
          margin: 0.1875rem;
          font-size: 0.85em;
        }

        a {
          .profile-steemit {
            margin: 0.1875rem;
          }
        }
      }
    }
  } // .team-container

  .team-delegators {
    overflow: hidden;
    max-height: 17.5rem;

    &.unfold {
      max-height: none;
    }
  }

  button.center {
    margin: 4rem auto 0 auto;
  }
} // .team-section



.footer-container {
  background-color: black;
  color: $text_grey;
  padding: 0px 200px;
  display: flex;
  @include responsive(tablet) {
    padding: 0px;
    flex-direction: column;
  }
  .footer-left {
    padding: 3em 2rem;
    display: flex;
    width: 50%;
    @include responsive(mobile) {
      flex-direction: column;
      margin: 0px;
      padding: 40px;
      width: auto;
    }
    .footer-box {
      width: 40%;
      margin-right: 10%;
      @include responsive(tablet) {
        width: 100%;
        margin-right: 0%;
      }
      .small-title {
        display: block;
        color: white;
        margin-bottom: 10px;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $text_grey;
          }
        }
      }
    }
  }

  .footer-right {
    padding: 50px 20px;
    width: 50%;
    display: flex;
    align-items: center;
    @include responsive(tablet) {
      flex-direction: column;
      margin-bottom: 20px;
      padding: 20px;
      width: auto;
    }
  }
}