// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./constants";
@import "./mixins";

hr.grey-divider {
  border: solid 0.5px #979797;
  margin: 0px;
}

a.primary-button, button.primary-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-size: 15px;
  color: $primary;
  border: solid 1px $primary;
  background: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @include responsive(tablet) {
    width: 80px;
    height: 25px;
    border-radius: 12.5px;
    font-size: 10px;
  }
}

a.more-link {
  text-decoration: none;
  color: $primary;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

img.full-width {
  width: 100%;
  margin: 40px 0px;
  @include responsive(tablet) {
    margin: 20px 0px;
  }
}

img.svg-icon-p {
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
}

span.icon-text-box {
  border: 1px solid $primary;
  border-radius: 4px;
  font-size: 10px;
  padding: 2px 4px;
  vertical-align: middle;
}

.mobile-hide {
  @include responsive(tablet) {
    display: none;
  }
}

.mobile-only {
  display: none;
  @include responsive(tablet) {
    display: block;
  }
}

.hunt-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 50px;
  align-items: center;
  img {
    margin-right: 20px;
    height: 40px;
  }
  p {
    margin: 6px 0px;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .contents-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: radial-gradient(circle at 50% 49%, white, rgba(239, 236, 234, 0.4));
    .contents-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 35vw;
      @include responsive(ipadpro) {
        width: 45vw;
      }
      @include responsive(tablet) {
        width: 60vw;
      }
      @include responsive(mobile) {
        width: 70vw;
      }
      img.logo-top {
        width: 35px;
        height: 54px;
        object-fit: contain;
      }
      h1.logo-text {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2.5px;
        text-align: center;
        color: $primary;
      }
      h1.contents-title {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2.5px;
        text-align: center;
        color: #4a4a4a;
        margin: 40px 0px 0px 0px;
      }
      p.contents-text {
        text-align: center;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: rgba(0, 0, 0, 0.65);
      }
    }
  }
  .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    .thumbnail {
      width: calc(calc(100vw / 11) - 2px);
      height: calc(calc(100vw / 11) - 2px);
      @include responsive(ipadpro) {
        width: calc(calc(100vw / 9) - 2px);
        height: calc(calc(100vw / 9) - 2px);
      }
      @include responsive(tablet) {
        width: calc(calc(100vw / 7) - 2px);
        height: calc(calc(100vw / 7) - 2px);
      }
      @include responsive(mobile) {
        width: calc(calc(100vw / 5) - 2px);
        height: calc(calc(100vw / 5) - 2px);
      }
      border: solid 1px #ffffff;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.main-container {
  background-color: black;
  color: $text_grey;
  padding: 0px 200px;
  @include responsive(tablet) {
    padding: 0px;
  }
  .main-row {
    padding: 50px 20px;
    @include responsive(tablet) {
      flex-direction: column;
      margin: 0px 20px;
    }
    .section-title {

    }
    .section-subtitle {
      margin-bottom: 20px;
    }
    .main-col-text {
      width: 60%;
      @include responsive(tablet) {
        width: 100%;
      }
    }
    .main-col-image {
      width: 40%;
      @include responsive(tablet) {
        width: 100%;
      }
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }
  .spy-left {
    position: absolute;
    top: calc(100vh + 40px);
    left: 40px;
    img.logo-menu {
      height: 50px;
    }
    ul {
      display: block;
      list-style:none;
      padding: 0;
      margin: 0;
      li {
        line-height: 30.5px;
        font-size: 12.2px;
        color: hsla(0,0%,100%,.8);
        letter-spacing: .3294px;
        font-weight: lighter;
        -webkit-transition: all .17s ease-in;
        -o-transition: .17s ease-in all;
        transition: all .17s ease-in;
        cursor: pointer;
        a {
          color: $text_dark;
          text-decoration: none;
        }
        a.active {
          color: $primary;
        }
      }
    }
  }

  .spy-right {
    position: absolute;
    top: calc(100vh + 40px);
    right: 40px;
  }

  .spy-fixed {
    position: fixed !important;
    top: 40px !important;
  }
}

.sidenav-background {
  display: none;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 199;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
}
.sidenav {
  background-color: #000;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  left: -100vw;
  margin-left: 0px;
  outline: none;
  position: fixed;
  top: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  width: 100vw;
  z-index: 200;
  .sidenav-body {
    padding: 0 0 80px 40px;
    img.logo-menu {
      height: 50px;
    }
    ul {
      display: block;
      list-style:none;
      padding: 0;
      margin: 0;
      li {
        line-height: 30.5px;
        font-size: 12.2px;
        color: hsla(0,0%,100%,.8);
        letter-spacing: .3294px;
        font-weight: lighter;
        -webkit-transition: all .17s ease-in;
        -o-transition: .17s ease-in all;
        transition: all .17s ease-in;
        cursor: pointer;
        a {
          color: $text_dark;
          text-decoration: none;
        }
        a.active {
          color: $primary;
        }
      }
    }
  }
}

a.close-button {
  position: absolute;
  top: -40px;
  margin-top: 50px;
  right: 10px;
  padding: 0 0 20px 20px;
  img {
    height: 30px;
  }
}

.mobile-menu-container {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: absolute;
  top: 100vh;
  width: calc(100vw - 20px);
  height: 50px;
  background: rgba(0, 0, 0, 0.65);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
  @include responsive(tablet) {
    display: flex;
  }
  a.menu-button {
    padding: 5px 5px 5px 0px;
    img {
      height: 30px;
    }
  }
  .mobile-spy-right {
    @include responsive(tablet) {

    }
  }
}

.mobile-menu-container-fixed {
  position: none;
  @include responsive(tablet) {
    position: fixed !important;
  }
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  .person-container {
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    @include responsive(tablet) {
      width: 100%;
    }
    .profile-avatar  {
      width: 60px;
      height: 60px;
      border-radius: 33px;
      object-fit: cover;
      margin: 3px 10px 3px 0px;
    }
    .person-info-container {

      .profile-name {
        margin: 3px;
      }
      .profile-role {
        margin: 3px;
      }
      a {
        text-decoration: none;
        .profile-steemit {
          margin: 3px;
        }
      }
    }
  }
}

.team-delegators {
  max-height: 228px;
  overflow: hidden;
}

.unfold {
  max-height: 100%;
}

.footer-container {
  background-color: black;
  color: $text_grey;
  padding: 0px 200px;
  display: flex;
  @include responsive(tablet) {
    padding: 0px;
    flex-direction: column;
  }
  .footer-left {
    padding: 50px 20px;
    display: flex;
    width: 50%;
    @include responsive(tablet) {
      flex-direction: column;
      margin: 0px;
      padding: 20px;
      width: auto;
    }
    .footer-box {
      width: 40%;
      margin-right: 10%;
      @include responsive(tablet) {
        width: 100%;
        margin-right: 0%;
        margin-bottom: 20px;
      }
      .small-title {
        display: block;
        color: white;
        margin-bottom: 10px;
      }
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $text_grey;
          }
        }
      }
    }
  }

  .footer-right {
    padding: 50px 20px;
    width: 50%;
    display: flex;
    align-items: center;
    @include responsive(tablet) {
      flex-direction: column;
      margin-bottom: 20px;
      padding: 20px;
      width: auto;
    }
  }
}